{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <br/><br/>
            <h1>Welcome to FlickFinder</h1>
            <br7>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h4><br/><br/><br/>
                This recommender system has been built using Flask.<br/><br/>
                The Netflix competition dataset used for this app, will be presented from a local MongoDB database.<br/><br/>
                Depending on the logged user, the rated movies and the recommendations will be displayed.<br/><br/>
            </h4>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}