<div class="footer">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div> <div class="col-md-10"><hr class="line-footer"></div></div> <div class="col-md-1"></div>
        </div>
        
        <div class="row">
            <div class="col-md-3 text-center">
                <p></p>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-2">
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
                    <li><a href="https://github.com/sanu2314151" class="text-dark"><i class="fa-brands fa-github me-3 fa-1x"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

</div>